<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
      <p>Visit my <a target="_blank" href="https://github.com/Mandukk">github!</a></p>
    {{> footer}}
  </body>
</html>
